<section>
    <h2>Employee List</h2>

    <!-- *ngIf: Shows this content when showEmployees is true -->
    <div *ngIf="showEmployees; else noEmployees">

        <p>Employee List Available</p>

        <!-- *ngFor: Loops through every employee -->
        <ul>
            <li *ngFor="let employee of employees; let i = index">
                {{ i + 1 }}. {{ employee.name | capitalize}} - {{ employee.role | capitalize}}
            </li>
        </ul>

    </div>

    <!-- This template displays when showEmployees is false -->
    <ng-template #noEmployees>
        <p>No Employee Available</p>
    </ng-template>

</section>